# Other Python dependencies
scipy==1.13.1
scikit-image==0.21.0
scikit-learn==1.2.2
opencv-python==4.10.0.84
Pillow==10.4.0
termcolor==1.1.0
PyYAML==6.0.2
tqdm==4.67.1
absl-py==2.1.0
tensorboard==2.17.0
PyOpenGL==3.1.0
pyrender==0.1.45
trimesh==3.22.0
click==8.1.7
omegaconf==2.2.3
segmentation_models_pytorch
timm==1.0.15
psutil==5.9.5
lmdb==1.4.1
einops==0.8.1
kornia==0.6.7
gdown==5.2.0
plyfile==1.0.3
natsort
mmcv==1.7.0
xformers==0.0.28
matplotlib==3.9.1.post1
mediapipe
open-clip-torch
imageio_ffmpeg
spaces
transformers==4.41.2
diffusers==0.29.2
# Install torch & torchvision from specific CUDA-enabled wheels (CUDA 12.1, Python 3.10)
https://download.pytorch.org/whl/cu121/torch-2.4.1%2Bcu121-cp310-cp310-linux_x86_64.whl
https://download.pytorch.org/whl/cu121/torchvision-0.19.1%2Bcu121-cp310-cp310-linux_x86_64.whl

# PyTorch3D from custom index
-f https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu121_pyt241/download.html
pytorch3d